tab-item-substance {
    font-size: 16px;
  	font-family: "Jetbrains Mono"
}
tab-item {
  
  --tab-margin-left: 0px;
  --tab-margin-right: 0px;
}

tab-item-substance {
  
  border: solid 1px #00000012; 
}

tab-item {
  --tab-size: 36px !important;
}
tab-item  tab-item-substance {
  
  max-height: var(--tab-size) !important;
  min-height: var(--tab-size) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

tab-item.active tab-item-substance {
  
  height: 39px !important;
}
tab-item.active .background {
  background-color: steelblue;
}

tab-item.active .label-content {
  font-weight: bold;
}
tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
  color: #fff;
}

tab-item .label-content {
  margin-left: 5px;
}


#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

#tabbar tab-item tab-closebox {
  margin-right: 5px !important;
}


/* Hide the favicon on new tabs. */
tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) tab-favicon {
  visibility: hidden;
}